@media (max-width: 425px) {
    .header {
      height: 25px;
      &__upper {
        display: none;
      }
      &__lower {
        &__left {
          padding: 0;
        }
        height: 5vh;
        > div {
          font-size: 2rem;
        }
  
        &__right ul {
          top: 35px;
          li a {
            font-size: smaller;
          }
        }
      }
    }
  
    .banner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 2rem;
  
      > div {
        width: 100%;
  
        img {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  
    .tools {
      display: grid;
      grid-template-columns: 1fr;
      &__item {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 10px auto;
        p {
          font-size: 1rem;
        }
      }
    }
  
    .packages {
      padding: 0 2rem;
      margin: 2rem 0;
      &__tagline {
        margin: 2rem auto;
        width: 80%;
        h1 {
          font-size: 1.5rem;
          font-weight: bolder;
        }
        p {
          font-size: 1rem;
        }
      }
  
      &__container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin: 2rem 0;
  
        .package {
          width: 80%;
          margin: 1rem auto;
  
          &__best-seller {
            padding: 0.3rem 0;
            span {
              font-size: 10px;
            }
            transform: rotateZ(-45deg) translateX(-2.5rem) translateY(-1rem);
            box-shadow: 0px 3px 10px rgba($color: #000000, $alpha: 0.5);
  
            @media (max-width: 375px) {
              span {
                font-size: 8px;
              }
            }
            @media (max-width: 320px) {
              span {
                font-size: 7px;
              }
              transform: rotateZ(-45deg) translateX(-1.8rem) translateY(-1rem);
            }
          }
  
          &__title {
            h1 {
              font-size: 1.5rem;
            }
          }
  
          &__price {
            &__now {
              &--thousands {
                font-size: 2.5rem;
              }
  
              &--hundreds {
                font-weight: bolder;
              }
            }
          }
  
          &__btn {
            font-size: 0.8rem;
            padding: 5px 10px;
          }
        }
      }
    }
  
    .advantages {
      display: grid;
      grid-template-columns: 1fr;
  
      &__tagline {
        width: 80%;
        text-align: center;
        font-size: 1.5rem;
        margin: 0.5rem auto;
      }
  
      &__table {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        &__left,
        &__right {
          height: max-content;
          margin: 1rem auto;
          width: 70%;
        }
  
        &--item {
          font-size: 0.9rem;
          border-bottom: solid 1px #ededed;
        }
      }
    }
  
    .features {
      &__tagline {
        font-size: 1.5rem;
        margin: 1rem auto;
      }
  
      &__container {
        grid-template-columns: 1fr;
        .feature {
          margin: 1rem 0.2rem;
  
          &__img {
            width: 30%;
          }
  
          &__name {
            font-weight: bolder;
            font-size: small;
          }
  
          &__desc {
            font-size: 0.4rem;
          }
        }
      }
    }
  
    .laravel__support {
      &--tagline {
        font-size: 1.5rem;
      }
  
      &__container {
        display: flex;
        flex-direction: column;
        &__left,
        &__right {
          width: 100%;
        }
  
        &__left {
          small {
            font-size: 0.5rem;
          }
  
          > * {
            margin: 0.5rem auto;
          }
  
          &--tagline {
            font-size: 1rem;
          }
  
          &__list {
            &--item {
              font-size: 0.5rem;
              margin: 0.5rem 0;
            }
          }
  
          &__btn {
            font-size: 0.8rem;
            padding: 5px 20px;
          }
        }
        &__right {
          img {
            width: 80%;
            margin: 0 auto;
          }
        }
      }
    }
  
    .modules {
      padding: 0 2rem;
      &__tagline {
        font-size: 1.5rem;
      }
  
      &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
  
        &__inner p {
          font-size: 0.8rem;
        }
      }
  
      &__btn {
        width: auto;
        font-size: 0.8rem;
        padding: 5px 10px;
      }
    }
  
    .advertisement {
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
  
      > div {
        width: 100%;
      }
  
      &__left {
        font-size: 0.8rem;
  
        > * {
          margin: 0.5rem 0;
        }
  
        &__tagline {
          font-size: 1.5rem;
        }
  
        &--btn {
          font-size: 0.8rem;
          padding: 5px 10px;
          margin: 1rem auto;
        }
      }
  
      &__right {
        img {
          width: 100%;
        }
      }
    }
  
    .share__container {
      padding: 0.5rem 2rem;
  
      > div {
        flex-direction: column;
        align-items: center;
        > * {
          margin: 0.5rem 0;
        }
      }
    }
  
    .help__container {
      color: white;
      background-color: #138fef;
      padding: 0.5rem 0;
  
      &--inner {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
      }
  
      .help__contact {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 1rem;
      }
  
      .help__livechat {
        font-size: 1rem;
        border-left-width: 0px;
        &__inner {
          padding: 1px 10px;
        }
      }
    }
  
    .footer {
      &__upper {
        display: grid;
        grid-template-columns: 1fr;
  
        p.mt-5 {
          font-size: 0.5rem;
        }
      }
  
      &__card {
        width: 100%;
        &__title {
          font-size: 1rem;
          font-weight: bold;
        }
        &__details {
          li {
            margin: 10px 0;
            font-size: small;
          }
        }
  
        .newsletter {
          display: none;
          ~ div {
            margin-top: -24px;
            > i {
              margin: 0 1rem 0 0;
            }
          }
        }
      }
  
      &__lower {
        &--title {
          font-weight: bold;
        }
  
        &__logos {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 10px;
        }
  
        &__logo {
          border: solid 1px #ededed;
          padding: 5px;
          border-radius: 5px;
  
          > img {
            height: 1rem;
          }
        }
      }
  
      &__subscription {
        &--form {
          padding: 0.5rem 1rem 0.5rem 2rem;
          border-radius: 100px;
          display: flex;
          justify-content: space-between;
          background-color: white;
        }
        &--btn {
          padding: 5px 10px;
          background-color: #138fef;
          border: solid 1px #ededed;
          border-radius: 100px;
        }
      }
  
      &__share__container {
        display: flex;
        > * {
          margin: 0 1rem;
        }
      }
    }
  
    .copyright {
      margin: 1rem 0;
      > * {
        margin: 1rem 0;
        font-size: smaller;
        > * {
          margin: 1rem 0;
        }
      }
      &__upper {
        flex-direction: column;
        align-items: center;
      }
  
      > span {
        display: none;
      }
    }
  }
  
  @media (max-width: 320px) {
    .tools {
      display: grid;
      grid-template-columns: 1fr;
      &__item {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 10px auto;
        p {
          font-size: 1rem;
        }
      }
    }
  
    .packages {
      padding: 0 2rem;
      margin: 2rem 0;
      &__tagline {
        margin: 2rem auto;
        width: 80%;
        h1 {
          font-size: 1.2rem;
          font-weight: bolder;
        }
        p {
          font-size: 0.8rem;
        }
      }
  
      &__container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin: 2rem 0;
  
        .package {
          width: 90%;
          margin: 1rem auto;
          &__best-seller {
            padding: 0.3rem 0;
            span {
              font-size: 8px;
            }
            transform: rotateZ(-45deg) translateX(-1.9rem) translateY(-1rem);
          }
  
          &__title {
            h1 {
              font-size: 1.5rem;
            }
          }
  
          &__price {
            &__now {
              &--thousands {
                font-size: 2.5rem;
              }
  
              &--hundreds {
                font-weight: bolder;
              }
            }
          }
  
          &__users {
            font-size: small;
          }
  
          &__btn {
            font-size: 0.8rem;
            padding: 5px 10px;
          }
        }
      }
    }
  
    .advantages {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0 2rem;
      &__tagline {
        font-size: 1.2rem;
        margin: 0.5rem auto;
      }
  
      &__table {
        &__left,
        &__right {
          margin: 1rem auto;
          width: 100%;
        }
  
        &--item {
          font-size: 0.7rem;
          border-bottom: solid 1px #ededed;
        }
      }
    }
  
    .features {
      &__tagline {
        font-size: 1.2rem;
        margin: 1rem auto;
      }
  
      &__container {
        grid-template-columns: 1fr;
        .feature {
          margin: 1rem 0.2rem;
  
          &__img {
            width: 30%;
          }
  
          &__name {
            font-weight: bolder;
            font-size: small;
          }
  
          &__desc {
            font-size: 0.4rem;
          }
        }
      }
    }
  
    .laravel__support {
      &--tagline {
        font-size: 1.2rem;
      }
  
      &__container {
        &__left {
          &--tagline {
            font-size: 0.8rem;
          }
        }
      }
    }
  
    .modules {
      &__tagline {
        font-size: 1.2rem;
      }
  
      &__container {
        &__inner p {
          font-size: 0.7rem;
        }
      }
    }
  
    .advertisement {
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
  
      > div {
        width: 100%;
      }
  
      &__left {
        > * {
          margin: 0.5rem 0;
        }
  
        &__tagline {
          font-size: 1.2rem;
        }
  
        &__desc {
          font-size: smaller;
        }
  
        &--btn {
          font-size: 0.6rem;
          padding: 3px 8px;
          margin: 1rem auto;
        }
      }
  
      &__right {
        img {
          width: 100%;
        }
      }
    }
  
    .share__container {
      > div {
        > * {
          font-size: smaller;
        }
      }
    }
  
    .help__container {
      .help__contact {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
      }
  
      .help__livechat {
        font-size: 1rem;
      }
    }
  
    .footer {
      &__card {
        &__title {
          font-size: 1rem;
        }
        &__details {
          li {
            font-size: smaller;
          }
        }
      }
  
      &__lower {
        &--title {
          font-weight: bold;
        }
  
        &__logos {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
  