@font-face {
    font-family: "Montserrat-Hairline";
    src: url("../assets/fonts/montserrat/Montserrat-Hairline.otf")
      format("opentype");
  }
  @font-face {
    font-family: "Montserrat-Light";
    src: url("../assets/fonts/montserrat/Montserrat-Light.otf") format("opentype");
  }
  @font-face {
    font-family: "Montserrat-Regular";
    src: url("../assets/fonts/montserrat/Montserrat-Regular.otf")
      format("opentype");
  }
  @font-face {
    font-family: "Montserrat-Bold";
    src: url("../assets/fonts/montserrat/Montserrat-Bold.otf") format("opentype");
  }
  @font-face {
    font-family: "Roboto-Regular";
    src: url("../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto-Bold";
    src: url("../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  }