* {
    box-sizing: border-box;
  }
  
  body,
  html {
    position: relative;
    margin: 0 auto;
    color: #545454;
    overflow-x: hidden;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }